.nav {
    height: auto;
    width: 100%;
    background-color: var(--black-background);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
  }

  .cart-container {
    background-color: white;
    padding: 31px;
    position: absolute;
    width: 377px;
    top: -100000%;
    transition: var(--transition);
    opacity: 0;
    z-index: 999;
    right: 0;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .show-cart-container {
    top: 126px;
    opacity: 1;
    transition: var(--transition);
  }
  

  .nav-center {
    max-width: 1400px;
    width: 95vw;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  